@model ModuleViewModel

@{
    ViewBag.Title = "Edit Module";
}

<h1>Edit Module</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Code" class="col-sm-2 col-form-label">Module Code: </label>
        <div class="col-sm-10">
            <input asp-for="Code" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Year" class="col-sm-2 col-form-label">Year: </label>
        <div class="col-sm-10">
            <input asp-for="Year" class="form-control">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ClassCode" class="col-sm-2 col-form-label">Campus Code: </label>
        <div class="col-sm-10">
            <input asp-for="ClassCode" class="form-control">
            <span asp-validation-for="ClassCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CoordinatorUid" class="col-sm-2 col-form-label">Coordinator ID: </label>
        <div class="col-sm-10">
            <input asp-for="CoordinatorUid" class="form-control">
            <span asp-validation-for="CoordinatorUid" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label">Module Title: </label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ListModules" asp-controller="Module" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Students Registered</h3>
        </div>
        <div class="card-body">
            @if (Model.Students.Any())
            {
                foreach (var role in Model.Students)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="ManageStudentsRegistered" asp-route-id="@Model.Id" style="width:auto" class="btn btn-primary">
                Manage Students
            </a>
            @*@Html.ActionLink("Export Registered Students", "FileExport", new {id =  @Model.Id})*@
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Staff Registered</h3>
        </div>
        <div class="card-body">
            @if (Model.Staff.Any())
            {
                foreach (var role in Model.Staff)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="ManageStaffRegistered" asp-route-id="@Model.Id" style="width:auto" class="btn btn-primary">
                Manage Staff
            </a>
        </div>
    </div>
</form>

